body { 
    padding-bottom: 20px;
    overflow:auto;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}


.alert{display:none}

.control-with-action {float: left}

.sectionDescription {
    margin-bottom: 10px;
    padding-left: 10px;
    border-left: solid 3px;
}

label.error {
	margin-left: 10px;
	width: auto;
	display:inline;
	color: red;
	font-weight:normal;
}

.screenReader {
    position: absolute;
    left: -9999px;
}