<div class="row well">
    <div class="col-md-12">
        {{outlet "scriptLinks"}}
    </div>
</div>

<div class="row well">
    <div class="col-md-12">
        {{outlet "cssLinks"}}
    </div>
</div>

<div class="row well">
    <div class="col-md-12">
        {{outlet "scriptBlock"}}
    </div>
</div>

    
